/* Prevent selection of environment headers and prompts */
.language-console [class*="gp"],
.language-generic [class*="gp"] {
    font-weight: 800;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
